body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff; }

.is-dark {
  background-color: #F62459; }

.profile-pic {
  width: 200px;
  height: auto;
  border-radius: 50%; }

.hero-footer {
  margin-bottom: 50px; }

.hero-header {
  margin-top: 50px; }

.foo-icons i {
  font-size: 100px;
  margin: 50px; }
  .foo-icons i:hover {
    color: #F62459; }
